<div class="text-dark">
	<div class="container">
		<h1>Documents</h1>

		<ng-template #addNewDoc>
			<form role="form" (submit)="submitNewDocument()" class="row well mb-2">
				<minty-document-editor
					name="document-editor"
					[(ngModel)]="docProperties"></minty-document-editor>

				<div class="mb-2">
					<button type="submit" class="btn btn-primary"><i class="bi bi-check-lg"></i></button>
					<button type="button" id="submitButton" class="btn btn-danger float-end"
						(click)="cancelNewDocument()"><i class="bi bi-arrow-counterclockwise"></i></button>
				</div>
			</form>
		</ng-template>

		<form>
			<div class="row mb-2">
				<ng-container *ngIf="!addingDocument; else addNewDoc">
					<div class="col-auto my-auto">
						<button class="btn btn-primary" (click)="addNewDocument()"><i class="bi bi-file-earmark-plus"></i></button>
					</div>
				</ng-container>
				<div class="form-floating col">
					<input type="text" id="docFilter" class="form-control" name="docFilter" [ngModel]="filter" (ngModelChange)="filterChanged($event)">
					<label for="docFilter">Filter</label>
				</div>
			</div>
		</form>
		<div class="d-flex flex-column bd-highlight">
			<ul class="list-group">
				<li class="list-group-item p-2 bd-highlight opacity-75" *ngFor="let document of displayDocuments">
					<div class="d-flex align-items-center">
						<div class="p-1" *ngIf="document.state === 'NO_CONTENT'"><strong class="text-danger">Processing...</strong></div>
						<div class="p-1" *ngIf="document.state === 'FAILED'"><strong class="text-danger">Document Failed to Process!</strong><i class="bi bi-exclamation-triangle"></i></div>
						<div class="p-1"><strong>Title: </strong>{{document.title}}</div>
						<ng-container *ngIf="document.associatedAssistantIds && document.associatedAssistantIds.length > 0">
							<div class="p-1 ms-2"><strong>Used in Assistants: </strong></div>
							<span class="badge bg-secondary rounded p-1 me-2" *ngFor="let assistant of document.associatedAssistantIds">{{findAssistant(assistant)?.name}}</span>
						</ng-container>

						<button
							*ngIf="isOwned(document.ownerId)"
							type="button"
							class="position-absolute end-0 top-0 z-1 m-1"
							style="font-size: 20px; color: red"
							[disabled]="deleteInProgress"
							(click)="deleteDocument(document)">
							<i class="bi bi-trash3"></i>
						</button>

					</div>
				</li>
			</ul>
			<div class="well p-3" *ngIf="!displayDocuments || displayDocuments.length === 0">
				No Documents!
			</div>
		</div>
	</div>
</div>

<minty-confirmation-dialog [title]="'Delete Document'"
	[message]="'Are you sure you want to delete this Document?'"
	[visible]="confirmDeleteDocumentDialogVisible"
	(confirm)="confirmDeleteDocument()"
	(cancel)="confirmDeleteDocumentDialogVisible = false"></minty-confirmation-dialog>