<div class="form-group mb-2">
	<div class="form-check form-switch ms-2">
		<input class="form-check-input" type="checkbox" id="useCustomAssistant" [ngModel]="useCustomAssistant"
			(ngModelChange)="useCustomAssistantChanged($event)">
		<label class="form-check-label" for="useCustomAssistant">Custom Assistant</label>
	</div>
	<div class="mb-3" *ngIf="useCustomAssistant">
		<minty-assistant-editor name="assistantInput" [models]="models" [documents]="documents" [tools]="tools" [ngModel]="assistant"
			(ngModelChange)="assistantChanged($event)"></minty-assistant-editor>
	</div>
	<div class="mb-3" *ngIf="!useCustomAssistant">
		<label for="enumListInput">Assistant</label>
		<minty-enumlist-editor name="enumListInput" [choices]="choices" [ngModel]="assistantId"
			(ngModelChange)="idChanged($event)"></minty-enumlist-editor>
	</div>
</div>
