<div class="row g-1">
	<table class="table table-bordered table-sm align-middle">
		<thead class="table-light">
			<tr>
				<th style="width: 45%;">Input Name</th>
				<th style="width: 45%;">Output Name</th>
				<td style="width: 10%;">Action</td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let entry of entries; let i = index">
				<td>
					<input
						type="text"
						class="form-control form-control-sm"
						name="key-{{i}}"
						[ngModel]="entry.key"
						(ngModelChange)="keyChanged(i, $event)"
						required
						placeholder="Input Name"
					/>
				</td>
				<td>
					<input
						type="text"
						class="form-control form-control-sm"
						name="value-{{i}}"
						[ngModel]="entry.value"
						(ngModelChange)="valueChanged(i, $event)"
						required
						placeholder="Output Name"
					/>
				</td>
				<td class="text-center">
					<button
						type="button"
						class="btn btn-danger btn-sm"
						(click)="removeEntry(i)">
						<i class="bi bi-x"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-primary btn-sm me-2" (click)="addEntry()">Add Row</button>
</div>