<div class="pt-5">
  <div class="well p-2 text-dark">
    <h2>New Task Bot</h2>

    <form role="form" class="container-fluid" (submit)="createTask()">
      <div class="mb-2 row">
        <label for="name" class="col-3 col-form-label">Name</label>
        <div class="col-9">
          <input id="name" name="name" type="text" size="10" maxlength="50" placeholder="Your Bot's Name" class="form-control" [(ngModel)]="task.name" autocomplete="off" required>
        </div>
      </div>

      <div class="form-group mb-2">
        <input type="checkbox" class="form-check-input text-light" id="isFileTriggered" name="isFileTriggered" [(ngModel)]="isFileTriggered">
        <label class="ms-1" for="isFileTriggered">Trigger on files?</label>
      </div>

      <div class="mb-2 row" *ngIf="isFileTriggered">
        <label for="directory" class="col-3 col-form-label">Directory to monitor</label>
        <div class="col-9">
          <input id="directory" name="directory" type="text" size="10" maxlength="512" placeholder="Folder to monitor. Must be accessible by the server." class="form-control" [(ngModel)]="triggerDirectory">
        </div>
      </div>

      <div class="mb-2 row">
        <label for="task" class="col-3 col-form-label">Base Task</label>
        <div class="col-9">
          <select class="form-select" id="task" name="task" [(ngModel)]="task.template" (ngModelChange)="taskChanged($event)">
            <option *ngFor="let task of taskTemplates | keyvalue" [ngValue]="task.key">{{task.key}}</option>
          </select>
        </div>
      </div>

      <ai-task-config  [configParams]="configParams" [(ngModel)]="task.defaultConfig" name="taskConfig"></ai-task-config>

      <div class="mb-2 row">
        <label for="outputTask" class="col-3 col-form-label">Task Output</label>
        <div class="col-9">
          <select class="form-select" id="outputTask" name="outputTask" [(ngModel)]="task.outputTask" (ngModelChange)="outputTaskChanged($event)">
            <option *ngFor="let outputTask of outputTaskTemplates | keyvalue" [ngValue]="outputTask.key">{{outputTask.key}}</option>
          </select>
        </div>
      </div>

      <ai-task-config  [configParams]="outputTaskConfigParams" [(ngModel)]="task.outputTaskConfig" name="outputTaskConfig"></ai-task-config>

      <div>
        <button type="submit" id="submitButton" [disabled]="formInvalid()" class="btn btn-primary">I'm so happy RN</button>
        <button type="button" id="submitButton" class="btn btn-primary float-end" (click)="navigateTo('task')">I changed my mind, yo.</button>
      </div>
    </form>
  </div>
</div>