<div class="mb-2 row">
  <label for="task" class="col-3 col-form-label">Task</label>
  <div class="col-9" *ngIf="task && taskTemplates">
    <select  class="form-select" id="task" name="task" [(ngModel)]="task.name" (ngModelChange)="taskChanged($event)">
      <option *ngFor="let template of taskTemplates" [ngValue]="template.name">{{template.name}}</option>
    </select>
  </div>
</div>
<ng-container *ngIf="task && taskDescription">
  <minty-task-config-editor [taskConfiguration]="taskDescription.configuration" [(ngModel)]="task.configuration" name="{{name}}-taskConfig"></minty-task-config-editor>
</ng-container>
