<h2 class="text-secondary">Runnable Tasks</h2>
<div class="row">
  <div class="col-4" *ngFor="let task of tasks">
    <div class="card">
      <div class="card-body">
        <button *ngIf="isOwned(task)" type="button" class="bi bi-trash3" style="font-size: 20px; color: red; float: right;" (click)="deleteTask(task)"></button>
        <h5 class="card-title">{{task.name}}</h5>
        <p class="card-text">{{task.description}}</p>
        <button class="btn btn-primary" (click)="navigateToTask(task.id)">Yeahhh boi!!!</button>
      </div>
    </div>
  </div>
</div>
<h2 class="text-secondary">Triggered Tasks</h2>
<div class="row">
  <div class="col-4" *ngFor="let task of triggerTasks">
    <div class="card">
      <div class="card-body">
        <button *ngIf="isOwned(task)" type="button" class="bi bi-trash3" style="font-size: 20px; color: red; float: right;" (click)="deleteTask(task)"></button>
        <h5 class="card-title">{{task.name}}</h5>
        <p class="card-text">{{task.description}}</p>
      </div>
    </div>
  </div>
</div>
  
<div class="row well p-2 mx-1 my-2">
  <div class="col-3">
    This list refreshes every five seconds.
    <div class="d-grid gap-3" *ngFor="let result of results">
      <div class="p-2 bg-light border btn text-start" (click)="displayResultsFor(result)">
        <button type="button" class="bi bi-trash3" style="font-size: 20px; color: red; float: right;" (click)="deleteResult($event, result)"></button>
        {{result}}
      </div>
    </div>
  </div>
  <div class="col-9">
    <button class="btn btn-primary" *ngIf="responseText" (click)="copyToClipboard()">Copy to clipboard</button>
    <div [innerHtml]="responseText"></div>
  </div>
</div>
<minty-confirmation-dialog [title]="'Delete Task'" [message]="'Are you sure you want to delete this task?'" [visible]="confirmTaskDeleteVisible" (confirm)="confirmDeleteTask()" (cancel)="confirmTaskDeleteVisible = false"></minty-confirmation-dialog>
<minty-confirmation-dialog [title]="'Delete Result'" [message]="'Are you sure you want to delete this result?'" [visible]="confirmResultDeleteVisible" (confirm)="confirmDeleteResult()" (cancel)="confirmResultDeleteVisible = false"></minty-confirmation-dialog>