<div *ngIf="task" class="mb-2">
	<h5>{{task.taskName}}
		<button class="btn btn-outline"
		type="button"
		#popoverButton>
		<i class="bi bi-question-circle"></i>
	</button>
	</h5>

</div>
<ng-container *ngIf="task">
	<form>
		<div class="mb-3">
			<label for="stepName" class="fs-4">Step Name</label>
			<input [type]="text" class="form-control form-control-sm" id="stepName" name="stepName"
				[ngModel]="task.stepName" (ngModelChange)="onStepNameChanged($event)">
		</div>
		<minty-task-config-editor
			[(ngModel)]="task.configuration"
			[taskSpecification]="taskSpecification"
			[defaults]="defaults"
			[enumLists]="enumLists"
			[models]="models"
			name="{{task.taskName}}-taskConfig"></minty-task-config-editor>
	</form>
</ng-container>
