<form *ngIf="workflow">
	<div class="row mb-2">
		<label for="workflowNameInput" class="col-2 col-form-label">Name</label>
		<div class="col-10">
			<input id="name" name="name" type="text" size="10" maxlength="50" class="form-control"
				[ngModel]="workflow.name" (ngModelChange)="onNamedChanged($event)" autocomplete="off" required>
		</div>
	</div>
	<div class="row mb-2">
		<label for="description" class="col-2 col-form-label">Description</label>
		<div class="col-10">
			<textarea autoResize id="description" name="description" type="text" style="height: 100px;" class="form-control" [ngModel]="workflow.description" (ngModelChange)="onDescriptionChanged($event)"
				autocomplete="off" required></textarea>
		</div>
	</div>
</form>

<div class="canvas-container mb-2" (mousemove)="onMouseMove($event)" (mouseup)="cancelConnection()">

	<!-- Canvas -->
	<div #canvas class="canvas border border-success rounded flex-grow-1 flex-fill overflow-auto">

		<button class="btn btn-success add-step-button" (click)="openAddStep()">+ Add Step</button>

		<!-- SVG for connections -->
		<svg class="connections">
			<!-- Existing connections -->
			<path *ngFor="let c of workflow?.connections" [attr.d]="getConnectionPoints(c).d"
				[attr.stroke]="getConnectionPoints(c).isStraight ? 'black' : 'black'" stroke-width="2"
				fill="none" (click)="onConnectorClicked(c)">
			</path>

			<!-- Temporary connection (drag‑and‑drop) -->
			<line *ngIf="tempConnection" [attr.x1]="tempConnection.fromX" [attr.y1]="tempConnection.fromY"
				[attr.x2]="tempConnection.toX" [attr.y2]="tempConnection.toY" stroke="gray" stroke-width="2"
				stroke-dasharray="5,5">
			</line>
		</svg>


		<!-- Canvas elements -->
		<minty-task-widget [task]="step" *ngFor="let step of workflow?.steps ; trackBy: trackStepById" cdkDrag cdkDragBoundary=".canvas"
			(cdkDragMoved)="onDragMoved($event, step)" (cdkDragEnded)="onDragEnded($event, step)"
			[cdkDragFreeDragPosition]="{ x: step.layout.x, y: step.layout.y }"
			[id]="step.stepName"
			(displayTask)="onDisplayTask(step.id)"
			(startConnection)="onStartConnection(step, $event)"
			(endConnection)="onEndConnection(step, $event)"
			(hoverPort)="onHoverPort(step, $event)"></minty-task-widget>

		<ng-container *ngIf="workflow?.outputStep">
			<minty-task-widget [task]="workflow.outputStep" cdkDrag cdkDragBoundary=".canvas"
				(cdkDragMoved)="onDragMoved($event, workflow.outputStep)" (cdkDragEnded)="onDragEnded($event, workflow.outputStep)"
				[cdkDragFreeDragPosition]="{ x: workflow.outputStep.layout.x, y: workflow.outputStep.layout.y }"
				[id]="workflow.outputStep.stepName"
				(displayTask)="onDisplayTask(workflow.outputStep.id)"
				(startConnection)="onStartConnection(workflow.outputStep, $event)"
				(endConnection)="onEndConnection(workflow.outputStep, $event)"
				(hoverPort)="onHoverPort(workflow.outputStep, $event)"></minty-task-widget>
		</ng-container>

	</div>
</div>

<!-- Task Editor -->
<minty-workflow-task-editor-modal *ngIf="editTask" [visible]="!!editTask" [(ngModel)]="editTask"
	[specification]="specFor(editTask)" [defaults]="defaults" [enumLists]="enumLists" [models]="models" [tools]="tools"
	[documents]="documents" (taskSaved)="doneEditingStep($event)" (taskDeleted)="onTaskDeleteRequest($event)"
	(cancel)="cancelEdit()" (taskNameChanged)="updateTaskName($event)">
</minty-workflow-task-editor-modal>

<!-- Palette -->
<minty-workflow-node-palette [visible]="addStepVisible" [taskSpecifications]="taskSpecifications"
	[outputTaskSpecifications]="outputTaskSpecifications" (taskSelected)="onTaskNodeSelected($event)"
	(outputTaskSelected)="onOutputNodeSelected($event)" (closed)="addStepVisible=false">
</minty-workflow-node-palette>

<minty-confirmation-dialog [title]="'Delete Step'" [message]="'Are you sure you want to delete this step?'"
	[visible]="confirmDeleteStepVisible" (confirm)="confirmDeleteStep()"
	(cancel)="confirmDeleteStepVisible = false"></minty-confirmation-dialog>