.btn-float {
	float: right;
	margin: 5px 5px 5px 5px;
}
.img-signup {
	background-image: url('../../../assets/signup.jpg');

}
body, html {
	height: 100%;
	margin: 0px;
}
.centred {
	text-align: center;
}
.big-margin {
	margin: 25px;
}
.blue {
	color: #0275d8;
}
.well {
	background-color: rgba(245, 245, 245, 0.66);
	border-radius: 25px;
}
.vertical-centre {
	margin-top: 15%;
}