<div [ngClass]="{ 'bg-image img-settings': user.displayMode === DisplayMode.Fun }">
	<div class="container">
		<div *ngIf="messages.length > 0" class="alert alert-danger container">
			<div class="row">
				<div class="col me-auto align-middle">
					<p class="col-form-label" *ngFor="let message of messages">{{message}}</p>
				</div>
				<div class="col-auto">
					<button (click)="messages = []" class="btn btn-danger">&times;</button>
				</div>
			</div>
		</div>

		<h1>Update Yourself</h1>
		<div class="well p-2">
			<form role="form" #userForm="ngForm" class="container" (submit)="update()">
				<div class="mb-3 row">
					<label for="account" class="col-sm-6 col-form-label">User Name</label>
					<div class="col-sm-6" required>
						<input id="account" name="account" type="text" size="20" maxlength="50" placeholder="User name"
							class="form-control opacity-75" [class.is-invalid]="user.name.length === 0"
							[(ngModel)]="user.name" required>
					</div>
				</div>
				<div class="mb-3 row">
					<label for="password" class="col-sm-6 col-form-label">Password</label>
					<div class="col-sm-6" required>
						<input id="password" name="password" type="password" size="10" maxlength="50"
							placeholder="Password" class="form-control opacity-75" [class.is-invalid]="passwordMismatch"
							[(ngModel)]="user.password" (input)="passwordUpdated()" required>
					</div>
				</div>
				<div class="mb-3 row">
					<label for="password" class="col-sm-6 col-form-label">Type It
						Again.</label>
					<div class="col-sm-6" required>
						<input id="passwordRepeated" name="password" type="password" size="10" maxlength="50"
							placeholder="Password" class="form-control opacity-75" [class.is-invalid]="passwordMismatch"
							[(ngModel)]="repeatPassword" (input)="passwordUpdated()" required>
					</div>
				</div>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="displayMode" name="displayMode" [ngModel]="user.displayMode === DisplayMode.Fun" (ngModelChange)="displayModeChanged($event)">
					<label class="form-check-label" for="displayMode">I like fun</label>
				</div>
				<div class="mb-3 row">
					<table class="table table-bordered table-sm align-middle">
						<thead class="table-light">
							<tr>
								<th style="width: 50%;">Configuration Thingy</th>
								<th style="width: 50%;">Value of Thingy</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let entry of defaultValues; let i = index; trackBy: trackByKey">
								<td>
									<label
										class="form-label"
										id="key-{{i}}">
									{{entry.key}}
									</label>
								</td>
								<td>
									<input
										[type]	="entry.key.includes('password') ? 'password' : 'text'"
										class="form-control form-control-sm"
										name="value-{{i}}"
										[ngModel]="entry.value"
										(ngModelChange)="updateConfig(entry.key, $event)"
										placeholder="{{entry.value}}"
									/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="centred space-after">
					<button type="submit" id="updateButton" class="btn btn-primary" [class.disabled]="!formValid()"
						[disabled]="!formValid()">Update!</button>
				</div>
			</form>
		</div>
	</div>
</div>