<ng-container *ngIf="assistant">
	<div class="form-group mb-2">
		<label for="assistantName">Name</label>
		<input type="text" class="form-control bg-opacity-75" id="assistantName" name="assistantName"
			[(ngModel)]="assistant.name">
	</div>
	<div class="d-flex flex-row">
		<div class="form-group mb-2 me-2">
			<input type="checkbox" class="form-check-input" id="isShared" name="isShared"
				[(ngModel)]="assistant.shared">
			<label class=" ms-1" for="isShared">Shared</label>
		</div>
		<div class="form-group mb-2">
			<input type="checkbox" class="form-check-input" id="hasMemory" name="hasMemory"
				[(ngModel)]="assistant.hasMemory">
			<label class=" ms-1" for="hasMemory">Keep conversation history</label>
		</div>
	</div>
	<div class="form-group mb-2">
		<label for="model">Model</label>
		<select class="form-select bg-opacity-75" name="model" [ngModel]="assistant.model" (ngModelChange)="modelChanged($event)">
			<option *ngFor="let model of models" value="{{model}}">{{model}}</option>
		</select>
	</div>
	<div class="form-group mb-2">
		<label for="assistantTemperature">Temperature</label>
		<input type="number" step="0.1" min="0" max="1" class="form-control bg-opacity-75" id="assistantTemperature"
			name="assistantTemperature" [(ngModel)]="assistant.temperature">
	</div>
	<div class="form-group mb-2">
		<label for="assistantPrompt">Prompt</label>
		<textarea class="form-control bg-opacity-75" id="assistantPrompt" name="assistantPrompt" style="height: 200px;"
			[(ngModel)]="assistant.prompt"></textarea>
	</div>
	<div class="form-group mb-2 well p-2" *ngIf="assistant && (availableDocuments && availableDocuments.length > 0); else noDocuments">
		<label for="ragFile" class="form-label">Documents to make your assistant less dumb</label>
		<div class="row">
			<div class="col">
				<strong>Available Documents</strong>
				<ul class="list-group">
					<li class="list-group-item"
						*ngFor="let doc of availableDocuments"
						(click)="addDoc(doc)">
					{{doc.title}}
					</li>
				</ul>
			</div>
			<div class="col">
				<strong>Added Documents</strong>
				<div class="list-group">
					<button type="button" class="list-group-item list-group-item-action"
						*ngFor="let doc of assistantDocuments"
						(click)="removeDoc(doc)">
					Title: {{doc.title}}
				</button>
				</div>
			</div>
		</div>
	</div>
	<ng-template #noDocuments>
		<div class="well p-2 mb-2">
			No Documents available for Assistants to use. This is very sad and you should add some so they can grow up to be big and smart, just like you.
		</div>
	</ng-template>
</ng-container>