<div class="container-fluid text-light">
  <div class="row">
    <div class="col-4">
      <h4>Active Conversations</h4>
      <ul class="list-group" *ngFor="let conversation of conversations">
        <li class="list-group-item list-group-item-action" >
        <button type="button" (click)="selectConversation(conversation)">{{conversation}}</button>
        <button type="button" class="bi bi-trash3" style="font-size: 20px; color: red" [disabled]="deleteInProgress" (click)="deleteConversation(conversation)"></button>
        </li>
      </ul>
    </div>
    <div class="col-8">

      <div class="row">
        <h5>My Assistants</h5>
        <ng-container *ngIf="assistants.length > 0; else noAssistants">
          <div class="col-4" *ngFor="let assistant of assistants | filter:{shared: false}; index as i">
            <div class="card">
              <button *ngIf="isOwned(assistant)" class="position-absolute top-0 end-0 bi bi-trash3" style="font-size: 20px; color: red" [disabled]="deleteInProgress" (click)="deleteAssistant(assistant)"></button>
              <span *ngIf="assistant.state !== 'READY'" class="top-0 start-0 bi bi-exclamation-circle" style="font-size: 20px; color: red">Not Ready!</span>
              <div class="card-body">
                <h5 class="card-title">{{assistant.name}}</h5>
                <button class="btn btn-primary" (click)="startConversation(assistant)">Run!</button>
              </div>
            </div>
          </div>
        </ng-container>
        <div class="row">
          <h5>Shared Assistants</h5>
          <ng-container *ngIf="assistants.length > 0; else noSharedAssistants">
            <div class="col-4" *ngFor="let assistant of assistants | filter:{shared: true}; index as i">
              <div class="card">
                <div class="card-body">
                  <button *ngIf="isOwned(assistant)" class="position-absolute top-0 end-0 bi bi-trash3" style="font-size: 20px; color: red" (click)="deleteAssistant(assistant)"></button>
                  <h5 class="card-title">{{assistant.name}}</h5>
                  <button class="btn btn-primary" (click)="startConversation(assistant)">Run!</button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noSharedAssistants>
            <p class="font-monospace ms-4">If any assistants had been shared with you they'd be listed here.<br>
              I guess you have no friends 😢
            </p>
          </ng-template>
        </div>
        <ng-template #noAssistants>
          <p class="font-monospace ms-4">If you had any assistants they would be listed here.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<minty-confirmation-dialog [title]="'Delete Assistant'" [message]="'Are you sure you want to delete this Assistant?'" [visible]="confirmDeleteAssistantVisible" (confirm)="confirmDeleteAssistant()" (cancel)="confirmDeleteAssistantVisible = false"></minty-confirmation-dialog>
<minty-confirmation-dialog [title]="'Delete Conversation'" [message]="'Are you sure you want to delete this Conversation?'" [visible]="confirmDeleteConversationVisible" (confirm)="confirmDeleteConversation()" (cancel)="confirmDeleteConversationVisible = false"></minty-confirmation-dialog>