<div class="row m-2" [class.flex-row-reverse]="message.user">
	<div class="col-11 p-2" [class.well-user]="message.user" [class.well-bot]="!message.user">
		@if (responsePending && isFirst && !message.user) {
			<div>
				<minty-spinner></minty-spinner>
				@if (queueDepth === 1) {
					<span>Waiting... You're next!</span>
				} @else {
					@if (queueDepth === 2) {
						<span>Waiting... There is one request ahead of you.</span>
					} @else {
						@if (queueDepth !== undefined) {
							<span>Waiting... There are {{queueDepth - 1}} requests ahead of you.</span>
						}
					}
				}
			</div>
		}
		@if (useMarkdown) {
			<markdown clipboard mermaidClipboard [mermaid]="useMermaid" [data]="message.message"
				[clipboardButtonTemplate]="clipboardTemplate"></markdown>
			<!--markdown clipboard mermaidClipboard [mermaid]="useMermaid" [data]="processedMessage"
      [clipboardButtonTemplate]="clipboardTemplate"-->
			@if (!responsePending && !responseComplete && isFirst && !message.user) {
				<minty-spinner></minty-spinner>
			}
		} @else {
			<pre>{{message.message}}</pre>
		}
	</div>
</div>

<ng-template #clipboardTemplate>
	<button class="btn btn-sm btn-light clipboard-button" #copyButton (click)="onCopyClick(copyButton)">
		@if (!isCopied(copyButton)) {
			<i class="bi bi-copy"></i>
		}
		@if (isCopied(copyButton)) {
			<i class="bi bi-check-circle-fill text-success"></i>
		}
	</button>
</ng-template>