.bg-image {
	background-image: url('../../../assets/assistant-robot.png');
	min-height: 100vh;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	image-orientation: from-image;
}