<div class="p-2 text-dark">
	<div class="row">
		<h2 class="col">Edit Workflow</h2>
		<form class="col-auto d-flex justify-content-end mb-2">
			<label *ngIf="!isNew" for="logLevel" class="col-form-label me-3">Log at</label>
			<div *ngIf="!isNew" class="me-5">
				<select class="form-select bg-opacity-75" id="logLevel" name="logLevel" [(ngModel)]="logLevel">
					<option>Trace</option>
					<option>Debug</option>
					<option>Info</option>
					<option>Warn</option>
					<option>Error</option>
				</select>
			</div>
			<button *ngIf="!isNew" type="button" id="submitButton" class="btn btn-success me-2 px-4" (click)="runWorkflow()"><i class="bi bi-play"></i></button>
			<button *ngIf="isNew" type="button" id="submitButton" class="btn btn-primary me-2" (click)="showUploadWorkflowDialog()"><i class="bi bi-upload"></i></button>
			<button type="button" id="submitButton" class="btn btn-primary me-2" (click)="updateWorkflow()"><i class="bi bi-floppy"></i></button>
			<button type="button" id="cancelButton" class="btn btn-danger" (click)="cancel()"><i class="bi bi-x-lg"></i></button>
		</form>
	</div>

	<minty-workflow-editor name="workflowEditor" [ngModel]="workflow" (ngModelChange)="workflowUpdated($event)"></minty-workflow-editor>
</div>

<div class="modal-backdrop fade show" *ngIf="uploadDialogVisible"></div>
<div class="modal fade show d-block" *ngIf="uploadDialogVisible">
	<div class="modal-dialog modal-xl modal-dialog-scrollable">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">Upload Workflow file</h5>
				<button class="btn-close" (click)="uploadDialogVisible = false"></button>
			</div>

			<div class="modal-body">
				<div class="form-group mb-2">
					<input class="form-control" type="file" id="docFile" (change)="fileSelected($event)">
					<div *ngIf="fileName">
						<em>{{fileName}} ({{fileSize}} bytes)</em>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-secondary" (click)="uploadDialogVisible = false">Cancel</button>
				<button class="btn btn-primary" (click)="uploadWorkflow()">Done</button>
			</div>

		</div>
	</div>
</div>

<minty-confirmation-dialog [title]="'Abandon Changes'" [message]="'You have unsaved changes. Discard?'"
	[visible]="confirmCancelVisible" (confirm)="confirmCancel()"
	(cancel)="confirmCancelVisible = false"></minty-confirmation-dialog>