<div class="container pt-5">
  <div class="well p-2 text-dark">
    <h1>New Workflow Bot</h1>

    <form role="form" class="container-fluid" (submit)="createWorkflowTask()">
      <div class="mb-2 row">
        <label for="name" class="col-3 col-form-label">Name</label>
        <div class="col-9">
          <input id="name" name="name" type="text" size="10" maxlength="50" placeholder="Your Bot's Name" class="form-control" [(ngModel)]="task.name" required>
        </div>
      </div>

      <div class="form-group mb-2">
        <input type="checkbox" class="form-check-input text-light" id="isFileTriggered" name="isFileTriggered" [(ngModel)]="isFileTriggered">
        <label class="ms-1" for="isFileTriggered">Trigger on files?</label>
      </div>

      <div class="mb-2 row" *ngIf="isFileTriggered">
        <label for="directory" class="col-3 col-form-label">Directory to monitor</label>
        <div class="col-9">
          <input id="directory" name="directory" type="text" size="10" maxlength="512" placeholder="Folder to monitor. Must be accessible by the server." class="form-control" [(ngModel)]="triggerDirectory">
        </div>
      </div>

      <div class="mb-2 row">
        <label for="workflow" class="col-6 col-form-label">Base Workflow</label>
        <select class="form-select" name="workflow" [(ngModel)]="task.workflow" (ngModelChange)="workflowChanged($event)">
          <option *ngFor="let workflow of workflows | keyvalue" [ngValue]="workflow.key">{{workflow.key}}</option>
        </select>
      </div>

      <ai-workflow-config  [configParams]="configParams" [(ngModel)]="task.defaultConfig" name="workflowConfig"></ai-workflow-config>

      <div>
        <button type="submit" id="submitButton" class="btn btn-primary">I'm so happy RN</button>
        <button type="button" id="submitButton" class="btn btn-primary float-end" (click)="navigateTo('workflow')">I changed my mind, yo.</button>
      </div>
    </form>
  </div>
</div>