<div class="container-fluid">
	<div class="p-2 text-dark">
		<h2>Run Workflow</h2>

		<form class="d-flex justify-content-end mb-2">
			<button type="button" id="submitButton" class="btn btn-primary me-2" (click)="runWorkflow()">RUN</button>
			<button type="button" id="cancelButton" class="btn btn-danger" (click)="cancel()">CANCEL</button>
		</form>

		<minty-workflow-editor name="workflowEditor" [taskSpecifications]="taskSpecifications"
				[outputTaskSpecifications]="outputTaskSpecifications" [defaults]="defaults" [(ngModel)]="workflow"></minty-workflow-editor>

</div>
</div>