<div class="pt-5">
	<div class="well p-2 text-dark container-fluid">
		<form role="form" (submit)="submit()">
			<minty-workflow-editor name="workflowEditor" [edit]="false" [taskTemplates]="taskTemplates"
				[outputTaskTemplates]="outputTaskTemplates" [defaults]="defaults" [(ngModel)]="workflow"></minty-workflow-editor>

			<div>
				<button type="submit" class="btn btn-primary">Submit!</button>
				<button type="button" id="submitButton" class="btn btn-primary float-end"
					(click)="navigateTo('workflow')">Nah brah</button>
			</div>
		</form>
	</div>
</div>