<ng-container *ngIf="configParams != undefined && config != undefined">
    <div class="form-group mb-2" *ngFor="let item of configParams | keyvalue">
        <ng-container [ngSwitch]="item.value">
            <ng-container *ngSwitchCase="'Number'">
                <label for="numberInput{{item.key}}">{{item.key}}</label>
                <input type="text" class="form-control" id="numberInput{{item.key}}" name="numberInput{{item.key}}" [ngModel]="getConfig(item.key)" (ngModelChange) ="valueChanged(item.key, $event)">
            </ng-container>
            <ng-container *ngSwitchCase="'String'">
                <label for="stringInput{{item.key}}">{{item.key}}</label>
                <input type="text" class="form-control" id="stringInput{{item.key}}" name="stringInput{{item.key}}" [ngModel]="getConfig(item.key)" (ngModelChange) ="valueChanged(item.key, $event)">
            </ng-container>
            <ng-container *ngSwitchCase="'AssistantIdentifier'">
                <label for="assistantList">{{item.key}}</label>
                <select class="form-select" name="assistantList" [ngModel]="item.value" (ngModelChange) ="valueChanged(item.key, $event)">
                    <option *ngFor="let assistant of assistants" [ngValue]="assistant.id">{{assistant.name}}</option>
                </select>
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{item.key}}-{{item.value}}
            </ng-container>
        </ng-container>
    </div>
</ng-container>