<div class="container">
	<h2>Runnable Workflows</h2>
	<div class="row">
		@for (workflow of workflows; track workflow) {
			<div class="col-md-4 col-sm-6 col-12" style="break-inside: avoid;">
				<div class="card">
					<div class="card-body p-2">
						<div class="row align-items-center flex-nowrap">
							<span class="col me-auto clickable-text" (click)="editWorkflow(workflow)">
								{{workflow.name}}
							</span>
							<div class="col-auto d-flex align-items-center">

								<div class="dropdown">
									<button class="btn btn-sm p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bi bi-three-dots-vertical" style="font-size: 18px;"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-end">
										<li>
										<button class="dropdown-item" style="font-size: 16px;"
											(click)="downloadWorkflow(workflow)">
											<i class="bi bi-download"></i> Download
											</button>
										</li>
										<li>
											<button class="dropdown-item" style="font-size: 16px;"
												(click)="duplicateWorkflow(workflow)">
												<i class="bi bi-copy"></i> Duplicate
											</button>
										</li>
										@if (isOwned(workflow)) {
											<li>
												<button class="dropdown-item" type="button" (click)="shareWorkflow(workflow)">
													<i class="bi bi-share me-2"></i> Share
												</button>
											</li>
											<li><hr class="dropdown-divider"></li>
											<li>
												<button class="dropdown-item text-danger" type="button" (click)="deleteWorkflow(workflow)">
													<i class="bi bi-trash me-2"></i> Delete
												</button>
											</li>
										}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>

	<div class="row well p-2 mx-1 my-2">
		<div class="col">
			This list refreshes every five seconds.
			<div class="row flex-nowrap align-items-end mb-2">
				<div class="form-group well p-2 col">
					<label for="resultFilter">Filter</label>
					<input type="text" class="form-control" id="resultFilter" name="resultFilter" [ngModel]="filter"
						(ngModelChange)="filterChanged($event)">
				</div>
				<div class="col-auto align-self-center">
					<button class="btn btn-danger" (click)="deleteAllVisibleResults($event)">
						<i class="bi bi-trash"></i> All
					</button>
				</div>
			</div>
			<ul class="list-group">
				@for (result of displayResults; track result.name) {
					<li class="list-group-item list-group-item-action position-relative text-bg-light bg-opacity-75">
						<div class="d-flex align-items-center h-100">
							<!-- If the ID is null, the task is still in progress -->
							<span class="text-truncate clickable-text pe-3"
								(click)="result.id && displayResultsFor(result)">
								{{result.name}}
							</span>
							@if (result.id && result.failed) {
								<span data-bs-toggle="tooltip" data-placement="top" data-bs-title="Workflow failed">
									<i class="bi bi-exclamation-diamond" style="font-size: 20px; color: red;"></i>
								</span>
							}
							<span class="flex-grow-1"></span>
							@if (!result.id) {
								<span class="badge text-bg-secondary mx-2">Result Not Ready</span>
							}
							<button type="button" class="btn btn-sm" style="font-size: 20px; color: saddlebrown;"
								(click)="displayProgress(result.name)">
								<i class="bi bi-pie-chart-fill"></i>
							</button>
							@if (!result.id) {
								<button type="button" class="btn btn-sm" style="font-size: 20px; color: red;"
									(click)="cancelWorkflow(result)">
									<i class="bi bi-sign-stop-fill"></i>
								</button>
							}
							@if (result.id) {
								<div class="ms-auto dropdown">
									<button class="btn btn-sm p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
										<i class="bi bi-three-dots-vertical" style="font-size: 20px;"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-end">
										<li>
											<button class="dropdown-item" type="button" (click)="downloadResultsFor(result)">
												<i class="bi bi-download me-2"></i> Download Results
											</button>
										</li>
										<li>
											<button class="dropdown-item" type="button" (click)="downloadLogsFor(result)">
												<i class="bi bi-file-earmark-text me-2"></i> Download Logs
											</button>
										</li>
										<li><hr class="dropdown-divider"></li>
										<li>
											<button class="dropdown-item text-danger" type="button"
												(click)="deleteResult($event, result)">
												<i class="bi bi-trash me-2"></i> Delete
											</button>
										</li>
									</ul>
								</div>
							}
						</div>
					</li>
				}
			</ul>
		</div>
		@if (workflowStatus) {
			<div class="col" @slideInOut>
				<button type="button" class="btn btn-sm pe-3" style="font-size: 20px; color: saddlebrown;"
					(click)="hideProgress()">
					<i class="bi bi-box-arrow-left"></i>
				</button>
				<table class="table table-sm table-bordered table-hover mb-0 minty-table">
					<thead>
						<tr>
							<th>Step</th>
							<th class="text-center">Total</th>
							<th class="text-center">Completed</th>
							<th class="text-center">Failed</th>
						</tr>
					</thead>
					<tbody>
						@for (stepState of workflowStatus.stepStates | keyvalue; track $index) {
							<tr>
								<td class="fw-semibold">{{stepState.key}}</td>
								@if (stepState.totalTasks != 0) {
									<td class="text-center">{{stepState.value.numTasks}}</td>
									<td class="text-center">
										<span
											class="badge minty-badge-success">{{stepState.value.completedTasks}}</span>
									</td>
									<td class="text-center">
										<span class="badge"
											[ngClass]="stepState.value.failedTasks > 0 ? 'bg-danger' : 'bg-secondary'">
											{{stepState.value.failedTasks}}
										</span>
									</td>
								} @else {
									<td colspan="3" class="text-muted fst-italic text-center">Not started</td>
								}
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
	</div>
</div>
<minty-confirmation-dialog [title]="'Delete Workflow'" [message]="'Are you sure you want to delete this Workflow?'"
	[visible]="confirmWorkflowDeleteVisible" (confirm)="confirmDeleteWorkflow()"
	(cancel)="confirmWorkflowDeleteVisible = false"></minty-confirmation-dialog>
<minty-confirmation-dialog [title]="'Delete Result'" [message]="'Are you sure you want to delete this result?'"
	[visible]="confirmResultDeleteVisible" (confirm)="confirmDeleteResult()"
	(cancel)="confirmResultDeleteVisible = false"></minty-confirmation-dialog>
<minty-confirmation-dialog [title]="'Duplicate Workflow'"
	[message]="'Are you sure you want to duplicate this workflow?'" [visible]="confirmResultDuplicateWorkflowVisible"
	(confirm)="confirmDuplicateWorkflow()"
	(cancel)="confirmResultDuplicateWorkflowVisible = false"></minty-confirmation-dialog>
<minty-confirmation-dialog [title]="'Delete All Results'"
	[message]="'This will delete all currently displayed results. Are you sure?'"
	[visible]="confirmDeleteAllResultsVisible" (confirm)="confirmDeleteAllVisibleResults()"
	(cancel)="confirmDeleteAllResultsVisible = false"></minty-confirmation-dialog>
<minty-confirmation-dialog [title]="'Cancel Workflow'"
	[message]="'This will cancel and delete the workflow. Are you sure?'" [visible]="confirmCancelWorkflowVisible"
	(confirm)="confirmCancelWorkflow()" (cancel)="confirmCancelWorkflowVisible = false"></minty-confirmation-dialog>
<minty-user-select-dialog [visible]="userSelectDialogVisible" (confirm)="onUsersConfirmed($event)"
	[initialSelection]="sharingSelection" (cancel)="userSelectDialogVisible = false">
</minty-user-select-dialog>