<div class="container-fluid py-3 h-100">
	<div class="row h-100">
		<!-- Left pane - tree view -->
		<div class="col-3 border-end d-flex flex-column" style="height: 100%;">
			<h5 class="mb-2">Files</h5>

			<!-- Menu Bar -->
			<ul class="list-group flex-shrink-0">
				<li class="list-group-item text-bg-light bg-opacity-75 p-0" style="height: 2.5rem;">
					<div class="d-flex align-items-stretch h-100">

						<!-- File Menu -->
						<div class="dropdown">
							<button class="btn btn-sm rounded-0 h-100 px-3 menu-btn" type="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								File
							</button>
							<ul class="dropdown-menu dropdown-menu-sm shadow-sm">
								<li>
									<button class="dropdown-item d-flex align-items-center gap-2" (click)="addFolder()">
										<i class="bi bi-folder-plus"></i> New Folder
									</button>
								</li>
								<li>
									<button class="dropdown-item d-flex align-items-center gap-2" (click)="addFile()">
										<i class="bi bi-file-earmark-plus"></i> New File
									</button>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li>
									<button class="dropdown-item d-flex align-items-center gap-2"
										(click)="addZipToProject()">
										<i class="bi bi-file-earmark-zip"></i> Import ZIP
									</button>
								</li>
							</ul>
						</div>

						<div class="dropdown">
							<button class="btn btn-sm rounded-0 h-100 px-3 menu-btn" type="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Conversions
							</button>
							<ul class="dropdown-menu shadow-sm">
								<li>
									<button class="dropdown-item d-flex align-items-center gap-2"
										(click)="addAndConvertToMd()">
										<i class="bi bi-filetype-md"></i>Doc to Markdown
									</button>
								</li>
								<li>
									<button class="dropdown-item d-flex align-items-center gap-2"
										(click)="addAndConvertToMermaid()">
										<i class="bi bi-filetype-md"></i>XMI to Mermaid
									</button>
								</li>
							</ul>
						</div>

					</div>
				</li>
			</ul>

			<!-- File Tree -->
			<ul class="list-group flex-grow-1">
				<li class="list-group-item position-relative text-bg-light bg-opacity-75"
					*ngFor="let node of rootNodes()">
					<minty-project-node [node]="node" [selected]="selectedNode" [nodes]="nodes"
						(nodeSelected)="onSelected($event)" (update)="onUpdateNode($event)"
						(delete)="onDeleteNode($event)">
					</minty-project-node>
				</li>
			</ul>
		</div>

		<!-- Right pane - file viewer -->
		<div class="col-9" *ngIf="selectedNode; else noSelection">
			<div class="row">
				<div class="col-auto">
					<ng-container *ngIf="!editFile; else editMode">
						<button class="btn" (click)="editCurrentFile()" title="edit">
							<i class="bi bi-pencil-square"></i>
						</button>
					</ng-container>
					<ng-template #editMode>
						<button class="btn" (click)="saveChangesToCurrentFile()" title="save">
							<i class="bi bi-floppy"></i>
						</button>
						<button class="btn" (click)="cancelEditingCurrentFile()" title="cancel">
							<i class="bi bi-x-circle"></i>
						</button>
					</ng-template>
				</div>
			</div>
			<h1>{{selectedNode.path}}</h1>
			<minty-project-node-viewer [ngModel]="selectedNode.content" (ngModelChange)="onFileContentsChanged($event)"
				[edit]="editFile"></minty-project-node-viewer>
		</div>
		<ng-template #noSelection>
			<h5 class="col-9 text-muted">Select a file to view its contents</h5>
		</ng-template>
	</div>
</div>

<div class="modal fade" tabindex="-1" [ngClass]="{'show d-block': mdFileDialogVisible}"
	[style.display]="mdFileDialogVisible ? 'block' : 'none'">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Save as Markdown</h5>
				<button type="button" class="btn-close" (click)="mdFileDialogVisible = false"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="mdFilename" class="form-label">Filename</label>
					<input class="form-control" type="file" id="mdFile" (change)="fileSelected($event)">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="mdFileDialogVisible = false">Cancel</button>
				<button type="button" class="btn btn-primary" (click)="addMarkdownFile()">Add</button>
				<button type="button" class="btn btn-primary" (click)="decomposeMarkdown()">Decompose</button>
				<button type="button" class="btn btn-primary" (click)="decomposeAndSummarizeMarkdown()">Decompose and
					Summarize</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" [ngClass]="{'show d-block': mermaidFileDialogVisible}"
	[style.display]="mermaidFileDialogVisible ? 'block' : 'none'">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Convert Diagrams to Mermaid</h5>
				<button type="button" class="btn-close" (click)="mermaidFileDialogVisible = false"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="mdFilename" class="form-label">Filename</label>
					<input class="form-control" type="file" id="mdFile" (change)="fileSelected($event)">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="mermaidFileDialogVisible = false">Cancel</button>
				<button type="button" class="btn btn-primary" (click)="convertToMermaid()">Convert</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" tabindex="-1" [ngClass]="{'show d-block': zipFileDialogVisible}"
	[style.display]="zipFileDialogVisible ? 'block' : 'none'">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Zip to Project</h5>
				<button type="button" class="btn-close" (click)="zipFileDialogVisible = false"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label for="zipFilename" class="form-label">Filename</label>
					<input class="form-control" type="file" id="zipFilename" (change)="fileSelected($event)">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="zipFileDialogVisible = false">Cancel</button>
				<button type="button" class="btn btn-primary" (click)="addZip()">OK</button>
			</div>
		</div>
	</div>
</div>

<minty-confirmation-dialog [title]="'Delete File'" [message]="'Are you sure you want to delete this file/folder?'"
	[visible]="confirmDeleteNodeVisible" (confirm)="confirmDeleteNode()" (cancel)="confirmDeleteNodeVisible = false">
</minty-confirmation-dialog>