<li class="folder-item" [class.selected]="node === selected">
	<span *ngIf="node.type === 'Folder'" class="folder-toggle" (click)="toggle()">
		<i class="bi" [ngClass]="{'bi-folder': isExpanded, 'bi-folder2': !isExpanded}"></i>
	</span>

	<span class="clickable-text" (click)="onSelect(node)">
		{{node.name}}
	</span>

	<span class="flex-grow-1"></span>

	<button class="btn btn-sm" style="font-size: 14px;" (click)="editNodeInfo()">
		<i class="bi bi-pencil-square"></i>
	</button>
	<button type="button" class="btn btn-sm p-0" style="font-size: 14px; color: red" (click)="deleteNode()">
		<i class="bi bi-trash3"></i>
	</button>
</li>

<ul *ngIf="node.type === 'Folder' && isExpanded" class="list-unstyled ps-3">
	<ng-container *ngFor="let child of childNodesOf(node.nodeId)">
		<minty-project-node [node]="child" [selected]="selected" [nodes]="nodes" (select)="onSelect($event)"
			(update)="onUpdate($event)" (delete)="onDelete($event)">
		</minty-project-node>
	</ng-container>
</ul>

<div class="modal show d-block" tabindex="-1" *ngIf="editNodeInfoVisible">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit Project Entry</h5>
				<button type="button" class="btn-close" (click)="onCancelEditNodeInfo()" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form role="form row">
					<div class="col-12">
						<label for="nameInput" class="form-label">Name</label>
						<input type="text" class="form-control" id="nameInput" name="nameInput" [(ngModel)]="editName" required>
					</div>
					<div class="col-12">
						<label for="typeSelect" class="form-label">File Type</label>
						<select class="form-select" id="typeSelect" [(ngModel)]="editType" name="typeSelect" required>
							<option value="Folder">Folder</option>
							<option value="File">File</option>
						</select>
					</div>
					<div class="col-12">
						<label for="typeSelect" class="form-label">Parent</label>
						<select class="form-select" id="typeSelect" [(ngModel)]="editParent" name="parentSelect" required>
							<option *ngFor="let folder of listFolders()" value="{{folder.nodeId}}">{{folder.name}}</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="onCancelEditNodeInfo()">Cancel</button>
				<button type="button" class="btn btn-primary" (click)="onConfirmNodeInfo()">Confirm</button>
			</div>
		</div>
	</div>
</div>