<div class="container-fluid py-3">
	<div class="row">
		<!-- Left pane – tree view -->
		<div class="col-3 border-end">
			<h5 class="mb-3">Files</h5>
			<ul class="list-group">
				<li class="list-group-item list-group-item-action position-relative text-bg-light bg-opacity-75" *ngFor="let node of rootNodes()">
					<minty-project-node [node]="node" [selected]="selectedNodeInfo" [nodes]="nodes"
						(select)="onSelected($event)" (update)="onUpdateNodeInfo($event)" (delete)="onDeleteNodeInfo($event)"></minty-project-node>
				</li>
				<li class="list-group-item list-group-item-action position-relative text-bg-light bg-opacity-75" style="height: 2.5rem">
					<button class="btn" (click)="addFile()" title="add file">
						<i class="bi bi-file-earmark-plus"></i>
					</button>
				</li>
			</ul>
		</div>

		<!-- Right pane – file viewer -->
		<div class="col-9" *ngIf="selectedNode; else noSelection">
			<div class="row">
				<div class="col-auto">
					<ng-container *ngIf="!editFile; else editMode">
						<button class="btn" (click)="editCurrentFile()" title="edit">
							<i class="bi bi-pencil-square"></i>
						</button>
					</ng-container>
					<ng-template #editMode>
						<button class="btn" (click)="saveChangesToCurrentFile()" title="save">
							<i class="bi bi-floppy"></i>
						</button>
						<button class="btn" (click)="cancelEditingCurrentFile()" title="cancel">
							<i class="bi bi-x-circle"></i>
						</button>
					</ng-template>
				</div>
			</div>
			<h1>{{selectedNodeInfo.name}}</h1>
			<minty-project-node-viewer [ngModel]="selectedNode.data" (ngModelChange)="onFileContentsChanged($event)" [edit]="editFile"></minty-project-node-viewer>
		</div>
		<ng-template #noSelection>
			<h5 class="col-9 text-muted">Select a file to view its contents</h5>
		</ng-template>
	</div>
</div>

<minty-confirmation-dialog [title]="'Delete File'"
	[message]="'Are you sure you want to delete this file/folder?'" [visible]="confirmDeleteNodeVisible"
	(confirm)="confirmDeleteNode()" (cancel)="confirmDeleteNodeVisible = false">
</minty-confirmation-dialog>