.menu-btn {
	font-size: 0.8rem;
	background: transparent;
	border: none;
	color: inherit;
}

.menu-btn:hover {
	background-color: rgba(0, 0, 0, 0.08);
}

.dropdown.show .menu-btn {
	background-color: rgba(0, 0, 0, 0.08);
}

.tree-heading {
	background: #f8f9fa;
	font-weight: 600;
	border-top: none;
	border-bottom: 1px solid #dee2e6;
}